APP_NAME='Finsight AI'
APP_DESC='your decentralied financial companion'
APP_CONTACT_EMAIL='evanseburu32@gmail.com'

MONO_PUBLIC_KEY=''
NUXT_MONO_API_URL='https://api.withmono.com'
NUXT_MONO_SECRET_KEY=''

NUXT_OPENAI_API_KEY=''